* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ce9a68ab;
  font-family: 'BreeCYR-Light';
  line-height: 1;
}

.content {
  display: flex;
  align-items: center;
  /*  растянет максимально по высоте блок и прижмет футер*/
  flex: 1; 
}

.weather{
  margin-bottom: 4px;
  padding: 1px 1em;
	border: 1px solid #6c370a;
	background: #59291580;
  font-family: 'BreeCYR-Light';
}

#eventCalendar{
  top:2em;
  width: 335px;
  background-color: #59291580;
  border: 1px solid #6c370a;
  font-family: 'BreeCYR-Light';

}
.content__meta {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  margin-left: 1em;
}

.menu_nav{
  display: flex;
  flex-direction: column;
}
.content__links {
  display: flex;
  flex-wrap: wrap;
}

.content__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 30px;
  max-width: 96px;
  max-height: 120px;
}

.logo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}

.title_content_links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'BreeCYR-Light';
}

.current_user{
  position: absolute;
  left: 20px;
}

