{% extends 'base.html' %}
    {% block title %}
        Инженеры
    {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_pages.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/it.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='media_files/ico/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/btn.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" > <!-- хз -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
{% endblock %}


{% block body %}

    <section class="menu">
            <a class="img_menu" href="{{ url_for('index') }}" >
                <img  src="{{ url_for('static', filename='media_files/png/nav/nav-01.png') }}" alt="Home" title="МФЦ" />
           </a>


            <a href="{{ url_for('admins') }}">
                <img src="{{ url_for('static', filename='media_files/png/nav/nav-08-2')}}.png" alt="adm" title="Администраторы" />
            </a>

            <a href="{{ url_for('experts') }}" >
                <img class="img_menu" src="{{url_for('static', filename='media_files/png/nav/nav-03.png') }}" alt="Exp" title="Эксперты" />
            </a>


          <a href="{{ url_for('baks') }}">
            <img class="img_menu" src="../../static/media_files/png/nav/nav-03-3.png" alt="bak" title="Бэк офис" />
            </a>


            <a  href="" target="">
                <img class="img_menu" width='97' height="97 " src="../../static/media_files/png/nav/call-centr.png" alt="call" title="Колл-центр" />
            </a>


            <a href="#"  onclick="history.back();return false">
                <img class="img_menu" width='97' height='97 ' src="{{url_for('static', filename='media_files/png/nav/btn_back.png') }}" alt="info" title="На главную" />
            </a>
    </section>

    <section class="services">

            <a class="content__link" href="http://192.168.200.171/mfc/">
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/ais.png') }}" width="86" height="86" alt="">
                <br>
                <span class="hidden"> АИС МФЦ</span>
                <br>
                <span class="hidden">страница авторизации</span>
            </a>

            <a class="content__link" href="">
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/ico-primeGroup1-transparent-256.png') }}" width="86" height="86">
                <br>
                <span class="hidden">СЭД</span>
                <br>
                <span class="hidden">СЭД Дело Веб</span>
            </a>

            <a class="content__link" href="">
                <img id="img_links" src="../../static/media_files/png/ico-rosreestr-PKPVD-256.png" width="86" height="86">
                <br>
                <span class="hidden" >ПК ПВД</span>
                <br>
                <span class="hidden">страница авторизации</span>
            </a>


            <a class="content__link" href="">
                <img id="img_links" src="../../static/media_files/png/ico-mfcbrown-256.png" width="86" height="86" alt="">
                <br>
                <span class="hidden">Портал МФЦ</span>
                <br>
                <span class="hidden">Главная страница</span>
            </a>
            <a class="content__link" target="_blank" href="{{ url_for('compressed_files_tiff') }}">
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/TIFF_29690.png')}}" alt="tiff" title="Сжатие tiff" />
                <br>
                <p class="name_content_link">Сжатие tiff</p>
            </a>

            <a class="content__link" target="_blank" href="{{ url_for("compressed_files_pdf") }}">
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/809693.png')}}" alt="pdf" title="Сжатие pdf" />
                <br>
                <p class="name_content_link">Сжатие pdf</p>
            </a>
            <a class="content__link" target="_blank" href="http://10.107.10.110/">
                <span class="hidden">МФУ окно 1</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
            </a>

            <a class="content__link" target="_blank" href="http://10.107.10.111">
                <span class="hidden">МФУ окно 2</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
            </a>


            <a class="content__link" target="_blank" href="http://10.107.10.112/index.html">
                <span class="hidden">МФУ окно 3</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
            </a>


         <a class="content__link" target="_blank" href="http://10.107.10.113/index.html">
                <span class="hidden">МФУ окно 4</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
        </a>

        <a class="content__link" target="_blank" href="http://10.107.10.114/index.html">
                <span class="hidden">МФУ окно 5</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
        </a>
        <a class="content__link" target="_blank" href="http://10.107.10.115/index.html">
                <span class="hidden">МФУ окно 6</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
        </a>


        <a class="content__link" target="_blank" href="http://10.107.10.101/index.html">
                <span class="hidden">МФУ Админы</span>
                <br>
                <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
                <br>
                <span class="hidden">Остаток тонера: </span>
                <br>
                <span class="hidden">Дата\Время запроса: </span>
        </a>


        <a class="content__link" target="_blank" href="http://10.107.10.104/index.html">
            <span class="hidden">МФУ ИТ</span>
            <br>
            <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
            <br>
            <span class="hidden">Остаток тонера: </span>
            <br>
            <span class="hidden">Дата\Время запроса: </span>
        </a>


        <a class="content__link" target="_blank" href="http://10.107.10.102">
            <span class="hidden">МФУ Бэк 1</span>
            <br>
            <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
            <br>
            <span class="hidden">Остаток тонера: </span>
            <br>
            <span class="hidden">Дата\Время запроса: </span>
        </a>

        <a class="content__link" target="_blank" href="http://10.107.10.120">
            <span class="hidden">МФУ Бэк 2</span>
            <br>
            <img id="img_links" src="{{ url_for('static', filename='media_files/png/mfu.png') }}" alt="">
            <br>
            <span class="hidden">Остаток тонера: </span>
            <br>
            <span class="hidden">Дата\Время запроса: </span>
        </a>


        <a class="content__link" href="">

        </a>

        <a class="content__link" href="#">

        </a>
        <a class="content__link" href="#">

        </a>

        <a class="content__link" href="#">

        </a>

        <a class="content__link" href="#">

        </a>
        <a class="content__link" href="#">

        </a>
    </section>
{% endblock %}


